@import 'tailwindcss';

:root {
  --background: var(--color-neutral-200);
  --foreground: var(--color-black);
  --scrollbar-thumb: var(--color-neutral-400);
  scrollbar-gutter: stable;
  --toast-bg: var(--color-neutral-100);
  --toast-fg: var(--color-neutral-600);
  --toast-border-color: var(--color-neutral-300);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-800);
    --foreground: var(--color-white);
    --scrollbar-thumb: var(--color-neutral-500);
    --toast-bg: var(--color-neutral-900);
    --toast-fg: var(--color-neutral-300);
    --toast-border-color: var(--color-neutral-700);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) transparent;
}

button,
a,
input,
textarea,
select,
.input-wrapper {
  transition-property:
    color, background-color, border-color, box-shadow, outline, border,
    background, filter;
  transition-duration: 100ms;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(0, 0);
  }
  15% {
    transform: translate(-2px, 1px);
  }
  30% {
    transform: translate(2px, -1px);
  }
  45% {
    transform: translate(-2px, -1px);
  }
  60% {
    transform: translate(2px, 1px);
  }
  75% {
    transform: translate(-1px, 1px);
  }
  90% {
    transform: translate(1px, -1px);
  }
}

.animate-shake {
  animation: shake 0.2s ease;
}

.scrollbar-hide {
  scrollbar-width: none;
}

@utility field-busy {
  opacity: 0.75;
  filter: contrast(0.4) brightness(1.15);

  @variant dark {
    opacity: 0.75;
    filter: contrast(0.9) brightness(0.5);
  }
}

[data-sonner-toast] [data-icon] {
  padding-right: calc(var(--spacing) * 5.5);
}

[data-sonner-toast] [data-title] {
  font-weight: 400 !important;
}
